[submodule "dep/glfw"]
	path = dep/glfw
	url = https://github.com/glfw/glfw.git
[submodule "dep/glew"]
	path = dep/glew
	url = https://github.com/nigels-com/glew
[submodule "dep/glad"]
	path = dep/glad
	url = https://github.com/Dav1dde/glad
